@charset 'UTF-8';

@font-face
	{
	  font-family: font;
	  src: url(../fonts/Orbitron/Orbitron-Regular.ttf);
	}

body{
  background-color: black;
  font-family: font;
}

h1, h2, h3{
    text-align: left;
    margin: 0px 15px;
    color: #6aef15;
}
h1 {
	color: #44fe65;
}

h3{
  margin: 15px;
}

p, table, span{
	  color: #44b3ff;
}

p, a{
  font-family: font;
  font-size: auto;
  text-align:left;
  margin: 5px;
 }

p.description{
	  margin: 5px 15px;
}

table{
  border-collapse: collapse;
  align: left;
  align-content;
  width: 90%;
  margin: 1em;
}

th{
  text-align: left;
  margin: 2px;
}

tr{
	text-align: left;
  border: solid;
  margin: 2px;
	border-color: green;
}


header{
  height: 7em;
  margin: 2px;
}

main{
  height: 20em;
}

div{
background-color: none;
background-repeat: no-repeat;
background-size: cover;
background-position: left;
position: static;
display: flow-root;
border: none;
border-color: black;
margin: 0;
z-index: 0;
padding: 0;
overflow-x: hidden;
overflow-y: hidden;
width: 50%;
height: auto;
float: left;
}

div.title{

}

div.description{

}

div.left{

}

div.right{

}
