/* css for the initial form*/
label {
  display: inline-block;
  width: 30%;
  font-size: 1vw;
  font-weight: bold;
  align: center;
  margin-top: 1%;
}

textarea {
  vertical-align: top;
  width: 50%;
  margin-left: 2%;
}

input {
  margin-left: 2%;
  width: 50%;
  border-radius: 5px
}

fieldset {
  background-color: #5BC0BE;
  width: 50%;
  color: #555;
  font-family: times;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 25px;
  border: 0px;

}

html{
  font-family: times;
}

#buttonS {
  margin-left: 45%;
  width: auto;
  font-size: 1vw;
  font-family: times;
  border-radius: 25px;
}

.sub {
  background: #8AD3FD;
  padding: 2%;
}

h3 {
  text-align: center;
  width: 50%;
  font-family: times;
  color: #555;
  margin: 0 auto;
  margin-top: 5%;
}

/* css for displaying the output*/
.outer h3 {
  font-size: 16px;
  color: #555;
  font-family: times;
  font-style: bold;
}

.outer {
  background-color: #3ad7ff;
  margin: 0 auto;
  margin-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  overflow: hidden;
}

.content {
  background-color: #CF8AEC;
  width: 75%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 1%;
}

.content p {
  padding: 2%;
  background: green;
  font-family: times;
}

p.echoSpam {
  font-size: 2em;
  margin-left: 30%;
}

input.ConvertButt{
  font-size: 2em;
  margin-left: 2%;
  width: 10px;
}

p.msg{
  font-size: 1.5em;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 2px;
}

p.msg2{
  font-size: 1em;
  margin-left: 43%;
  margin-top: 10px;
  margin-bottom: 2px;
}

p.msg3{
  font-size: 1em;
  margin-left: 35%;
  margin-top: 10px;
  margin-bottom: 2px;
}

p.msg4{
  font-size: 1em;
  margin-left: 45%;
  margin-top: 10px;
  margin-bottom: 1px;
}

canvas{
  /* background-color: black; */
}
