body {
  max-width: 100%;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
border: none;
margin: 0;
z-index: 0;
overflow-x: hidden;
overflow-y: hidden;
width: 100%;
height: 100%;
float: left;
position: static;
display: flow-root;
}

p{
  font-family: sans-serif;
}

/* All infor for the Title page */

div.title{
  background-color: white;
  border-color: red;
  position: absolute;
  margin-left: 0%;
  margin: right 50%;
  width: 100%;
  height: 90%;
}


div.main{
  background-color: #ed8288;
  height: 40em;
}

div.titleInfo{
  /* background-color: blue; */
  /* border-color: red; */
  /* border-style: solid; */
  width: 100%;
  height: 50%;
  float: left;
}



form.main{
  width: 35%;
  height: 10%;
  float: left;
  margin: 8px;
  border: solid;
  border-color: black;
  margin-left: 35%;
}

form.logOut{
  width: 18%;
  height: 5%;
  float: left;
  margin: 8px;
  border: solid;
  border-color: black;
  margin-left: 45%;
}
button.NewGbutt{
  width: 100%;
  height: 100%;
}

input.Continuebutt{
  width: 100%;
  height: 100%;
}

p.titleInfo{
  margin: 3%;
  font-size: 16px;
}

h4.titleInfo{
  margin: 3%;
  font-size: 16px;
}

table{
  border:solid;
  width: 100%;

}
tr{
  border: solid;
  margin: 2px;
}
td{
  margin: 6px;
}


/* All info for Gamepage */
div.login{
  background-color: white;
  border: solid;
  border-color: red;
  border-radius: 10%;
  height: 34em;
  width: 85%;
  margin: 10px;
  margin-top: 8px;
  margin-left: 5%;
  padding: 10px;
}

h1.login{

}


div.topInfo{
  /* background-color: purple; */
  height: 10%;
}

form.topInfo{
    float: right;
    margin-top: 1.1em;
    margin-right: 4.5%;
    border-style: solid;
    border-color: red;

}
input.topInfo{
    background-color: orange;
}

div.animalDisplay{

  height: 60%;
}

div.sideinfo {
  background-color: none;
  height: 40%;
  width: 24%;
  margin: 20px;
  z-index: 1;
  position: absolute;
}

div.table {
  background-color: white;
  border:solid;
  border-color: #ad151d;
  height: 10%;
  width: 45%;
}

p.table {
  font-size: 70%;
  margin: 5px;
  float: left;
  position: static;
}

div.hud{
  /* background-color: yellow; */
  height: 30%;
  width: 102.2%;
}

div.hudHeader {
  height: 25%;
  width: 100%;
  /* background: black; */
}

div.condition {
  background-color: white;
  border-style: solid;
  border-color: red;
  width: 50%;
  margin-left: 25%;
  /* margin-right: 50%; */
}

div.statusL {
  width:50%;
  text-align: right;
}

div.statusR {
  width:50%;
  text-align: left;
}

p.statusCss {
  margin-top: 7px;
  margin-left: 2px;
  font-size: 1.5em;
}

div.hudSections {
  background-color: green;
  height: 60%;
  width: 32%;
  border: solid;
  border-color: red;
}

button.Hudbutt {
  background-color: none;
  height: 100%;
  width: 100%;
}

img.AnimalImg  {
  height: 275px;
  width: 300px;
  margin-left: 36%;
  margin-top: 50px;
}

div.examine  {
z-index: 2;
position: absolute;
background-color: green;
height: 63%;
}

div.BrainWind{
  /* background-color: pink; */
  background-image: url("../images/brain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 496px;
  position: absolute;
  margin-top: 0px;
}

div.HeartWind{
  background-image: url("../images/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 496px;
  /* height: 380px; */
  position: absolute;
  /* margin-top: 65px; */
}

div.LungsWind{
  background-image: url("../images/lungs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 496px;
  position: absolute;

}

div.DeathPW{
  background-color: white;
  width: 100%;
  height: 620px;
  position: absolute;
  margin-top: 0px;
  z-index: 10;
}

p.DeathPW{
  font-size: 2em:
  color:black;
  margin-left: 35%;
  width: 35%;
  text-align: center;
}

h2.Dead{
margin-left: 51%;
}

h3.Dead{
margin-left: 40%;
width: 25%;
text-align: center;
}

img.DeadImg{
  height: 180px;
  width: 20%;
  margin-left: 43%;

  margin-top: 0px;
}

form.login1{
  margin-left: 2px;
  padding-bottom: 5px;
}

img.title{
  height: 25%;
  width: 15%;
  margin-left: 8%;
}
